<ion-view view-title="Browse" class="browse">
    <div padding="true">
        <div class="row responsive-sm">
            <div class="col">
                <h1>
                    Welcome
                </h1>
            </div>
        </div>
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" ng-model="model.salary" placeholder="Please input your salary in $">
            </label>
        </div>

        <button class="button button-royal" ng-click="go()">
            Go
        </button>
    </div>
    </ion-content>
</ion-view>

